html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 28px;
    color: #faf2ed;
}

h2,
h3 {
    color: #eb7661;
    font-size: 22px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    background-color: #f08e71;
}

table {
    font-family: Arial, sans-serif;
}

hr {
    height: 1px;
    background-color: #1a1a1a;
}

section {
    padding: 1.5em;
    margin: 1em;
    background-color: #FFF4EC;
}

article {
    padding: 1.5em;
    margin: 1em;
    background-color: #FFF4EC;
}

.caixa-habilidades {
    background-color: #7dc0b9;
    border: 2px solid #000;
    border-width: 2px;
    padding: 20px;
    margin: 30px;
    height: 300px;
    overflow: auto;
}

.secao-onibus {
    background-color: lightseagreen;
}

.secao-onibus td {
    background-color: #7dc0b9;
}

.secao-onibus td:hover {
    border: 2px solid rgb(236, 104, 16);
    cursor: pointer;
}

#disciplinas dd {
    color: rgb(16, 150, 139);
}

#disciplinas a {
    color: inherit;
}

.destaque {
    font-weight: bold;
}

.container-flex {
    display: flex;
    gap: 30px;
}

.primeiraColuna {
    width: 200px;
}

.primeiraColuna h3 {
    width: 100%;
    text-align: center;
}

.primeiraColuna li:hover {
    background-color: #7dc0b9;
}

.musicas li::before {
    content: "🎵 ";
    color: #0d8e83;
}

.colunaEspecial {
    flex-wrap: wrap;
    width: 700px;
}

.colunaEspecial h3 {
    width: 100%;
    text-align: center;
}

.colunaEspecial img {
    width: 130px;
    height: auto;
}

.colunaEspecial img:hover {
    transform: scale(1.8);
    transition: transform 0.8s ease;
}

.ultimaColuna {
    width: 200px;
}

.ultimaColuna h3 {
    width: 100%;
    text-align: center;
}

.ultimaColuna a:link {
    color: #0d8e83;
}

.ultimaColuna a::after {
    content: " 🔍";
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}