html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 28px;
    color: #e11369;
}

h2,
h3 {
    color: #cb6590;
    font-size: 22px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    background-color: #befbbe;
}

table {
    font-family: Arial, sans-serif;
}

hr {
    height: 1px;
    background-color: #1a1a1a;
}

section {
    padding: 1.5em;
    margin: 1em;
    background-color: #FFF4EC;
}

.caixa-habilidades {
    background-color: #4ab86f;
    border: 2px solid #000;
    border-width: 5px;
    padding: 20px;
    margin: 30px;
    height: 300px;
    overflow: auto;
}

.secao-onibus {
    background-color: purple;
}

.secao-onibus td {
    background-color: #d79cee;
}

.secao-onibus td:hover {
    border: 2px solid red;
    cursor: pointer;
}

#disciplinas dd {
    color: rgb(16, 150, 139);
}

#disciplinas a {
    color: inherit;
}

.destaque {
    font-weight: bold;
}